<div class="container-fluid">

<h1 class="mt-2">Home</h1>

<p>
Web App by Renê Pádua - RA: 005*********23
</p>


<hr />

<h3 class="mt-2">Tarefa</h3>

<p>Desenvolver um web app:

<ul>
  <li class="mb-2">Barra de navegação;</li>
  <li class="mb-2">Página inicial apresentando o site;</li>
  <li class="mb-2">Página “list” apresentando uma tabela com as disciplinas cursadas por você no semestre (código, nome, dia da semana, horário);</li>
  <li class="mb-2">Página list/[index] apresentando os dados da disciplina, a ementa e os objetivos;</li>

</ul>


</div>